@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}

.title-item{
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
}



