
$custom-theme-colors : (
    'light-blue':#56CCF2,
    'tosca':#AEE0D4,
    'midnight-blue':#3B4053,
    'light-red':#EE6565,
    'light-green': #6FCF97
    );
    
$theme-colors : (
    'primary': #2D9CDB,
    'danger': #F25858,
    'warning': #FBCE46
    );
        
$theme-colors : map-merge($custom-theme-colors, $theme-colors);
@import '~bootstrap/scss/bootstrap.scss';
